# combine fire and weather data

In [1]:
import pandas as pd

In [2]:
#read fire data
fire_data=pd.read_csv('fires.csv')
fire_data

      Unnamed: 0        Date  Brightness         FRP  Count
0              0  2015-01-01  336.464348   53.337391    115
1              1  2015-01-02  341.439053   92.587574    169
2              2  2015-01-03  337.675516   78.263717    339
3              3  2015-01-04  339.404745   82.560584    274
4              4  2015-01-05  336.273481   76.948066    362
...          ...         ...         ...         ...    ...
1790        1790  2019-12-27  333.245284   93.937415   1919
1791        1791  2019-12-28  340.370601   77.030785   2381
1792        1792  2019-12-29  342.119036  193.661094   3236
1793        1793  2019-12-30  353.636477  135.262830   6925
1794        1794  2019-12-31  340.341681   81.450058   3438

[1795 rows x 5 columns]

In [3]:
#read weather data
weather_data=pd.read_csv('weather_data.csv')
weather_data

      Unnamed: 0        Date   Temp   Wind  Precip  Pressure   Heat
0              0  2015-01-01  23.00  16.50   0.000   1011.50  29.50
1              1  2015-01-02  23.50  17.25   0.250   1012.25  29.75
2              2  2015-01-03  22.50  19.50   0.025   1013.50  28.75
3              3  2015-01-04  22.25  17.75   0.000   1013.25  30.25
4              4  2015-01-05  23.50  14.50   0.875   1013.25  29.50
...          ...         ...    ...    ...     ...       ...    ...
1821        1821  2019-12-27  25.50  20.50   0.075   1015.50  27.50
1822        1822  2019-12-28  25.50  19.75   0.025   1015.50  27.50
1823        1823  2019-12-29  26.50  17.50   0.000   1014.50  28.50
1824        1824  2019-12-30  25.25  21.50   0.000   1012.00  28.00
1825        1825  2019-12-31  24.75  18.75   0.050   1013.00  27.00

[1826 rows x 7 columns]

In [4]:
#merge weather and fire data
australia=pd.merge(weather_data, fire_data, on='Date', how='left')
australia

,Unnamed: 0_x,Date,Temp,Wind,Precip,Pressure,Heat,Unnamed: 0_y,Brightness,FRP,Count
0,0,2015-01-01,23.00,16.50,0.000,1011.50,29.50,0.0,336.464348,53.337391,115.0
1,1,2015-01-02,23.50,17.25,0.250,1012.25,29.75,1.0,341.439053,92.587574,169.0
2,2,2015-01-03,22.50,19.50,0.025,1013.50,28.75,2.0,337.675516,78.263717,339.0
3,3,2015-01-04,22.25,17.75,0.000,1013.25,30.25,3.0,339.404745,82.560584,274.0
4,4,2015-01-05,23.50,14.50,0.875,1013.25,29.50,4.0,336.273481,76.948066,362.0
...,...,...,...,...,...,...,...,...,...,...,...
1821,1821,2019-12-27,25.50,20.50,0.075,1015.50,27.50,1790.0,333.245284,93.937415,1919.0
1822,1822,2019-12-28,25.50,19.75,0.025,1015.50,27.50,1791.0,340.370601,77.030785,2381.0
1823,1823,2019-12-29,26.50,17.50,0.000,1014.50,28.50,1792.0,342.119036,193.661094,3236.0
1824,1824,2019-12-30,25.25,21.50,0.000,1012.00,28.00,1793.0,353.636477,135.262830,6925.0
1825,1825,2019-12-31,24.75,18.75,0.050,1013.00,27.00,1794.0,340.341681,81.450058,3438.0

In [5]:
australia=australia[['Date', 'Temp', 'Wind', 'Precip', 'Pressure', 'Heat', 'Brightness', 'FRP', 'Count']]
australia.head(-65)

,Date,Temp,Wind,Precip,Pressure,Heat,Brightness,FRP,Count
0,2015-01-01,23.00,16.50,0.000,1011.50,29.50,336.464348,53.337391,115.0
1,2015-01-02,23.50,17.25,0.250,1012.25,29.75,341.439053,92.587574,169.0
2,2015-01-03,22.50,19.50,0.025,1013.50,28.75,337.675516,78.263717,339.0
3,2015-01-04,22.25,17.75,0.000,1013.25,30.25,339.404745,82.560584,274.0
4,2015-01-05,23.50,14.50,0.875,1013.25,29.50,336.273481,76.948066,362.0
...,...,...,...,...,...,...,...,...,...
1756,2019-10-23,21.50,16.00,0.025,1018.75,23.50,NaN,NaN,NaN
1757,2019-10-24,22.50,16.75,0.000,1015.75,24.25,NaN,NaN,NaN
1758,2019-10-25,20.75,20.50,0.025,1014.75,22.25,NaN,NaN,NaN
1759,2019-10-26,21.25,21.75,0.000,1013.25,23.25,NaN,NaN,NaN
1760,2019-10-27,21.00,12.75,0.000,1015.25,22.50,NaN,NaN,NaN

In [6]:
#eliminating null values
australia=australia.fillna(0)
australia.head(-65)

,Date,Temp,Wind,Precip,Pressure,Heat,Brightness,FRP,Count
0,2015-01-01,23.00,16.50,0.000,1011.50,29.50,336.464348,53.337391,115.0
1,2015-01-02,23.50,17.25,0.250,1012.25,29.75,341.439053,92.587574,169.0
2,2015-01-03,22.50,19.50,0.025,1013.50,28.75,337.675516,78.263717,339.0
3,2015-01-04,22.25,17.75,0.000,1013.25,30.25,339.404745,82.560584,274.0
4,2015-01-05,23.50,14.50,0.875,1013.25,29.50,336.273481,76.948066,362.0
...,...,...,...,...,...,...,...,...,...
1756,2019-10-23,21.50,16.00,0.025,1018.75,23.50,0.000000,0.000000,0.0
1757,2019-10-24,22.50,16.75,0.000,1015.75,24.25,0.000000,0.000000,0.0
1758,2019-10-25,20.75,20.50,0.025,1014.75,22.25,0.000000,0.000000,0.0
1759,2019-10-26,21.25,21.75,0.000,1013.25,23.25,0.000000,0.000000,0.0
1760,2019-10-27,21.00,12.75,0.000,1015.25,22.50,0.000000,0.000000,0.0

In [7]:
#save into csv
australia.to_csv('australia.csv')

# machine learning

In [8]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import LabelEncoder, MinMaxScaler
from tensorflow.keras.utils import to_categorical
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [9]:
aus=pd.read_csv('australia_cut2.csv')
aus

,Temp,Wind,Precip,Pressure,Heat,Brightness,FRP,Count,month
0,23.00,16.50,0.000,1011.50,29.50,336.464348,53.337391,115,January
1,23.50,17.25,0.250,1012.25,29.75,341.439053,92.587574,169,January
2,22.50,19.50,0.025,1013.50,28.75,337.675516,78.263717,339,January
3,22.25,17.75,0.000,1013.25,30.25,339.404744,82.560584,274,January
4,23.50,14.50,0.875,1013.25,29.50,336.273481,76.948066,362,January
...,...,...,...,...,...,...,...,...,...
1729,18.25,12.00,0.125,1023.00,20.00,328.776232,41.502899,345,September
1730,18.50,12.50,0.000,1019.25,22.50,327.911868,46.994066,455,September
1731,17.50,13.00,0.050,1018.50,20.00,336.242286,59.932762,525,September
1732,18.50,11.50,0.000,1019.75,21.00,331.345000,55.644615,520,September
1733,18.00,15.25,0.275,1021.75,20.50,337.932287,79.353513,669,September

In [10]:
aus_ml=pd.get_dummies(aus,prefix=['month'])
aus_ml

,Temp,Wind,Precip,Pressure,Heat,Brightness,FRP,Count,month_April,month_August,month_December,month_February,month_January,month_July,month_June,month_March,month_May,month_November,month_October,month_September
0,23.00,16.50,0.000,1011.50,29.50,336.464348,53.337391,115,0,0,0,0,1,0,0,0,0,0,0,0
1,23.50,17.25,0.250,1012.25,29.75,341.439053,92.587574,169,0,0,0,0,1,0,0,0,0,0,0,0
2,22.50,19.50,0.025,1013.50,28.75,337.675516,78.263717,339,0,0,0,0,1,0,0,0,0,0,0,0
3,22.25,17.75,0.000,1013.25,30.25,339.404744,82.560584,274,0,0,0,0,1,0,0,0,0,0,0,0
4,23.50,14.50,0.875,1013.25,29.50,336.273481,76.948066,362,0,0,0,0,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1729,18.25,12.00,0.125,1023.00,20.00,328.776232,41.502899,345,0,0,0,0,0,0,0,0,0,0,0,1
1730,18.50,12.50,0.000,1019.25,22.50,327.911868,46.994066,455,0,0,0,0,0,0,0,0,0,0,0,1
1731,17.50,13.00,0.050,1018.50,20.00,336.242286,59.932762,525,0,0,0,0,0,0,0,0,0,0,0,1
1732,18.50,11.50,0.000,1019.75,21.00,331.345000,55.644615,520,0,0,0,0,0,0,0,0,0,0,0,1
1733,18.00,15.25,0.275,1021.75,20.50,337.932287,79.353513,669,0,0,0,0,0,0,0,0,0,0,0,1

# Model 1

In [38]:
# Assign X (data) and y (target)
X = aus_ml.drop("FRP", axis=1)
y = aus_ml["FRP"].values.reshape(-1,1)
print(X.shape, y.shape)

(1734, 19) (1734, 1)

In [39]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [41]:
regression = LinearRegression()
regression

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [42]:
regression.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [43]:
print(f"Training Data Score: {regression.score(X_train, y_train)}")
print(f"Testing Data Score: {regression.score(X_test, y_test)}")

Training Data Score: 0.6172233322900191
Testing Data Score: 0.6303317751950713

In [17]:
#use when predicting next year: X_new_data would be a dataset with 2020 months
#regression.predict(X_new_data)

# Model 2

In [18]:
# Assign X (data) and y (target)
X_c = aus_ml.drop("Count", axis=1)
y_c = aus_ml["Count"].values.reshape(-1,1)
print(X_c.shape, y_c.shape)

(1734, 19) (1734, 1)

In [19]:
X_c_train, X_c_test, y_c_train, y_c_test = train_test_split(X_c, y_c, random_state=1)

In [20]:
regression_c = LinearRegression()
regression_c

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [21]:
regression_c.fit(X_c_train, y_c_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [22]:
print(f"Training Data Score: {regression_c.score(X_c_train, y_c_train)}")
print(f"Testing Data Score: {regression_c.score(X_c_test, y_c_test)}")

Training Data Score: 0.4243953072411083
Testing Data Score: 0.49422449395385204

# Prediction - getting and cleaning new data

In [28]:
new_data=pd.read_csv('new_australia.csv')
new_data

,Temp,Wind,Precip,Pressure,Heat,Brightness,FRP,Count,month
0,23.25,17.75,0.000,1014.00,26.00,331.141183,76.450380,3686,January
1,23.75,17.50,0.000,1015.50,26.75,343.554067,116.988312,4389,January
2,25.75,19.50,0.050,1013.25,27.25,340.057787,107.259925,4257,January
3,24.25,16.00,0.000,1014.75,27.50,361.022381,146.637293,7350,January
4,22.25,18.00,0.075,1016.75,24.50,332.738992,129.472070,913,January
...,...,...,...,...,...,...,...,...,...
80,22.75,11.00,0.100,1019.75,25.00,328.952261,27.918090,199,March
81,23.25,13.50,0.000,1020.75,26.25,321.569159,22.173832,107,March
82,21.75,17.50,0.350,1022.50,24.00,324.551977,39.958757,177,March
83,22.25,14.00,0.275,1021.00,24.00,327.233540,32.924224,161,March
84,22.75,14.75,0.025,1019.75,25.25,323.198710,44.196129,155,March

In [32]:
aus_new_ml=pd.get_dummies(new_data,prefix=['month'])
aus_new_ml

,Temp,Wind,Precip,Pressure,Heat,Brightness,FRP,Count,month_February,month_January,month_March
0,23.25,17.75,0.000,1014.00,26.00,331.141183,76.450380,3686,0,1,0
1,23.75,17.50,0.000,1015.50,26.75,343.554067,116.988312,4389,0,1,0
2,25.75,19.50,0.050,1013.25,27.25,340.057787,107.259925,4257,0,1,0
3,24.25,16.00,0.000,1014.75,27.50,361.022381,146.637293,7350,0,1,0
4,22.25,18.00,0.075,1016.75,24.50,332.738992,129.472070,913,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...
80,22.75,11.00,0.100,1019.75,25.00,328.952261,27.918090,199,0,0,1
81,23.25,13.50,0.000,1020.75,26.25,321.569159,22.173832,107,0,0,1
82,21.75,17.50,0.350,1022.50,24.00,324.551977,39.958757,177,0,0,1
83,22.25,14.00,0.275,1021.00,24.00,327.233540,32.924224,161,0,0,1
84,22.75,14.75,0.025,1019.75,25.25,323.198710,44.196129,155,0,0,1

In [33]:
#add columns for remaining months with 0 values
aus_new_ml['month_April']=0
aus_new_ml['month_Mayl']=0
aus_new_ml['month_June']=0
aus_new_ml['month_July']=0
aus_new_ml['month_August']=0
aus_new_ml['month_September']=0
aus_new_ml['month_October']=0
aus_new_ml['month_November']=0
aus_new_ml['month_December']=0
aus_new_ml

,Temp,Wind,Precip,Pressure,Heat,Brightness,FRP,Count,month_February,month_January,month_March,month_April,month_Mayl,month_June,month_July,month_August,month_September,month_October,month_November,month_December
0,23.25,17.75,0.000,1014.00,26.00,331.141183,76.450380,3686,0,1,0,0,0,0,0,0,0,0,0,0
1,23.75,17.50,0.000,1015.50,26.75,343.554067,116.988312,4389,0,1,0,0,0,0,0,0,0,0,0,0
2,25.75,19.50,0.050,1013.25,27.25,340.057787,107.259925,4257,0,1,0,0,0,0,0,0,0,0,0,0
3,24.25,16.00,0.000,1014.75,27.50,361.022381,146.637293,7350,0,1,0,0,0,0,0,0,0,0,0,0
4,22.25,18.00,0.075,1016.75,24.50,332.738992,129.472070,913,0,1,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80,22.75,11.00,0.100,1019.75,25.00,328.952261,27.918090,199,0,0,1,0,0,0,0,0,0,0,0,0
81,23.25,13.50,0.000,1020.75,26.25,321.569159,22.173832,107,0,0,1,0,0,0,0,0,0,0,0,0
82,21.75,17.50,0.350,1022.50,24.00,324.551977,39.958757,177,0,0,1,0,0,0,0,0,0,0,0,0
83,22.25,14.00,0.275,1021.00,24.00,327.233540,32.924224,161,0,0,1,0,0,0,0,0,0,0,0,0
84,22.75,14.75,0.025,1019.75,25.25,323.198710,44.196129,155,0,0,1,0,0,0,0,0,0,0,0,0

# Prediction: FRP and Count

In [48]:
#predict FRP values
X_new_FRP=aus_ml.drop("FRP", axis=1)
new_FRP=regression.predict(X_new_FRP)
len(new_FRP)

1734

In [49]:
new_FRP

array([[80.72495968],
       [98.04839149],
       [86.22224704],
       ...,
       [78.76741965],
       [62.8246373 ],
       [85.70398869]])

In [57]:
new_FRP_list=[]
for i in range(len(new_FRP)):
    new_FRP_list.append(new_FRP[i][0])
new_FRP_list

[80.72495967701093,
 98.04839148926749,
 86.22224703797201,
 90.38595189790522,
 79.57890406317483,
 123.29743803129077,
 71.21916103738522,
 72.77304637815996,
 91.78236363100473,
 75.31531502735652,
 28.52066812099497,
 54.06219365787001,
 87.55168740673321,
 51.2830430362244,
 92.57390770829898,
 34.42703997184185,
 66.49815064640234,
 51.892423066583206,
 68.33311135114741,
 77.86913419844154,
 70.38844638677574,
 99.29993949891877,
 121.17219781387712,
 84.70184050365901,
 81.56664819442676,
 53.83748688348646,
 74.95534868569052,
 42.83048142390521,
 70.86762315062697,
 48.002340125800174,
 82.0041086606659,
 121.07644917990297,
 72.7736635736494,
 86.24176665528262,
 127.03015079940883,
 78.51937303570708,
 74.52126422066704,
 92.88107623819656,
 83.54914102606267,
 76.74679822257349,
 116.84037228020998,
 76.42615803859326,
 86.17900549039541,
 60.46315910588601,
 112.69066008381606,
 61.67827519013031,
 69.88610941588968,
 81.41691259531308,
 82.77904269081523,
 71.26569810758247,
 90.85399507080047,
 73.44492081102294,
 64.29002457884053,
 88.39875036512603,
 76.63916935707061,
 44.980448745389594,
 50.643768609993685,
 48.01831605943539,
 64.98523417683964,
 18.38469387250393,
 85.12955857592738,
 68.09814876844052,
 51.04060675465189,
 55.691069380953195,
 61.9707133034583,
 51.1167009699293,
 50.31075653054472,
 65.35808198235873,
 42.04813364314123,
 67.75101497732499,
 66.72717722135917,
 55.18534285240639,
 70.19197626389018,
 49.17842329136215,
 59.551281960785445,
 64.41868566760195,
 75.41194339153162,
 69.3686720456692,
 76.48381588748202,
 67.2256636196953,
 78.59802369430258,
 70.6337758810837,
 40.5141001700722,
 53.12494797702311,
 54.388968259756666,
 76.00397443687825,
 59.420234307957344,
 41.35311025156352,
 67.96783524418174,
 41.76475514053345,
 51.09645956111012,
 69.03248694351146,
 67.56778650817319,
 77.53514679451632,
 91.78834722847523,
 66.66280345560949,
 49.86763434970362,
 42.68431150054107,
 51.048983868579626,
 49.14678663349059,
 56.50929915587426,
 54.4768783606587,
 44.70101498332201,
 42.776889915687434,
 42.88817149700435,
 51.721731529430144,
 38.61956396302753,
 28.907392795847272,
 36.616946231499014,
 32.4487267974107,
 23.05991700986351,
 35.328213651326905,
 24.271350910588126,
 37.64912467733234,
 48.96330993577999,
 30.901670957840906,
 55.23085738190139,
 33.27518067665983,
 50.03194043093299,
 36.32210170080407,
 49.769139404508905,
 51.25085832952777,
 48.56147238534777,
 52.75793351837683,
 41.044286766046525,
 56.936165473102164,
 43.94841503743078,
 42.773146387478164,
 42.612741637950194,
 48.19465873324566,
 50.844594336623686,
 43.51803690894826,
 64.19156721635113,
 38.152942614481844,
 46.565448064576,
 47.49730394374228,
 55.24923133702782,
 54.03161137445068,
 54.68676518091661,
 55.533342051949376,
 33.09991786576825,
 42.85705945054792,
 23.346438643876354,
 52.76324886173279,
 40.04070280465044,
 49.263508605848074,
 37.62494299527202,
 27.825585477604363,
 49.777584185960905,
 26.3390554351804,
 47.33612851979433,
 36.49708525856545,
 64.15310907241246,
 32.3658471959568,
 50.09985714627601,
 46.221245272088936,
 40.45459513972128,
 47.77563327940152,
 35.33337530526887,
 39.54972107733556,
 26.66392106640228,
 27.78669699093325,
 40.31586330646269,
 35.71651701505675,
 42.65235284528694,
 34.92669494524125,
 53.491620012038766,
 65.94026585899974,
 58.768955830724735,
 37.90362539887997,
 36.30912352337259,
 44.722776568241216,
 40.65915506072088,
 44.23918597147235,
 59.915362737813666,
 54.47079322325726,
 64.54568606388489,
 62.01714939672411,
 56.15799424946454,
 40.137917911214345,
 51.234835293515516,
 29.537436815565343,
 63.18831049632672,
 17.423839220872424,
 38.130815837590035,
 27.743293180891442,
 27.30215518326213,
 32.83580700699963,
 33.68366744536843,
 44.91917206810513,
 19.761790494750812,
 59.69082747355333,
 26.48042973556221,
 34.29121210086555,
 32.01471731843981,
 26.62912077233773,
 32.212864968637405,
 25.89578941031482,
 34.286916584756,
 36.23237033031455,
 46.7322718698922,
 59.7505630410019,
 45.49458816408196,
 56.06830000067475,
 49.0751767071481,
 58.59034095264201,
 37.144680935326505,
 57.514843336769445,
 30.778047717792788,
 57.107602551046284,
 34.19346305859722,
 54.196010909397955,
 46.99505097239148,
 41.63110997830245,
 55.27013753055121,
 29.869616493097283,
 50.66006350553221,
 33.42991893308135,
 39.03280039938136,
 42.795826288903754,
 48.72258016586534,
 59.958940807507815,
 44.64477424570737,
 71.8990193268728,
 62.92612730338192,
 67.57215587134806,
 67.3144528284356,
 57.96712059233482,
 63.775741507029124,
 48.48430150886247,
 66.05040670319772,
 63.18413802976261,
 71.5024974962314,
 73.00811679206095,
 56.42864011781853,
 76.0859820025355,
 80.42789454222952,
 50.215720090948935,
 55.200664603066116,
 58.1413103306611,
 43.34812451885841,
 62.3754018747577,
 35.42722766502243,
 50.55448962042374,
 69.74511251664853,
 69.39609618627264,
 80.63560531388293,
 54.97504768210047,
 90.65560541478794,
 57.04949773886983,
 69.5263212140137,
 57.49122280930919,
 66.96744762148137,
 90.84089933136738,
 64.94644088973473,
 73.91270746566079,
 57.98678685076493,
 56.04846843165683,
 46.35894375518001,
 63.10462398158711,
 53.72469162880179,
 61.724876442812274,
 81.11787754753777,
 57.97697579399323,
 73.92884571762693,
 65.84791554684898,
 64.27901108535025,
 60.86396245492392,
 62.5205213935983,
 71.49733453393696,
 61.08630491439817,
 69.10734222182896,
 82.40286748024232,
 96.65678686546039,
 102.24435350300405,
 97.30669822892833,
 64.21516225477558,
 95.26031016162028,
 65.39792649021524,
 61.36579183190793,
 65.00212532252613,
 54.50511143167364,
 80.06713094693964,
 91.85020927180221,
 82.89235367472111,
 97.6529302303768,
 75.34157409836985,
 92.47272108346556,
 88.75008631613468,
 91.40744113717005,
 83.74557228699564,
 83.98175562848496,
 84.46289370222894,
 86.4772484669802,
 95.15524485717697,
 83.13603354128873,
 80.74580486052992,
 84.45528823750237,
 84.41090448445425,
 92.76693544061641,
 93.96518511930071,
 80.46691458785244,
 89.16523509403737,
 86.26572304739943,
 70.82105835751236,
 79.09507720940701,
 71.43862884276359,
 80.13666714130477,
 98.7533163714445,
 88.58758368143344,
 63.18722214275817,
 72.76656714815022,
 79.00204467547792,
 74.69444686981274,
 78.61214455190634,
 73.18704756786633,
 76.09999939838735,
 77.96486224467571,
 68.0399216266037,
 108.05767397386921,
 112.11232567373918,
 105.20669595297818,
 89.3522829245328,
 98.07108341957337,
 94.19265629603524,
 95.73414596189173,
 89.58259500354438,
 77.93844119343407,
 81.2013936566741,
 72.7052841705106,
 88.9076736186521,
 70.22834329867828,
 82.93213098449746,
 78.34512883637603,
 86.0004493707354,
 94.38523093984827,
 78.28144253200685,
 70.40495972152416,
 86.09113313127295,
 72.51284434730246,
 50.066295650518214,
 82.42086269022889,
 53.58502048595551,
 54.18501744515038,
 61.493445646770624,
 43.3350594606934,
 93.02488279815066,
 62.65097484703915,
 87.88438436756473,
 69.55778948843204,
 87.43005784665206,
 62.376926720172605,
 71.3975669193344,
 65.10996320645495,
 69.87506868200148,
 62.22687703795032,
 44.98750642012715,
 69.97577035878817,
 36.33596326892962,
 80.22342267171166,
 96.46850300463598,
 99.19877634050613,
 96.33472344414781,
 63.245073788094714,
 50.832747009835884,
 55.245259366970004,
 95.67839146206757,
 105.4098512420801,
 72.25367380670855,
 69.3627629065038,
 78.51837076219135,
 124.3807129859083,
 78.38590693155129,
 89.78587309880982,
 69.14591156927986,
 97.25944928186686,
 58.422926309491004,
 63.60616167831904,
 69.85668736830053,
 55.541314790504885,
 89.45447326426643,
 80.42599278960961,
 54.708868370070604,
 72.13648870795464,
 45.222938918102045,
 74.51814672714704,
 42.413083132700194,
 48.8658956436077,
 37.43639681391414,
 56.88711166800226,
 73.11638736873351,
 78.017160392704,
 140.47039415010613,
 106.58692690722364,
 74.788099819933,
 29.364834042517487,
 41.3415418037705,
 21.1726826471413,
 23.173535080269858,
 65.42220403464489,
 40.94768323131166,
 28.429377672212468,
 44.830987878728365,
 88.70803314875388,
 49.791655333956214,
 75.59657552369299,
 53.2631264947388,
 55.53037641160836,
 45.96290498979738,
 55.25404822185578,
 80.2119329825448,
 78.17965944213756,
 78.8816733516951,
 46.80092250829625,
 77.20877369542382,
 37.51186019996044,
 101.77505479804313,
 94.55641642441924,
 -3.8618485533877447,
 71.7940061649283,
 50.477286074042695,
 95.52403302095263,
 84.88676290356739,
 62.7352037416108,
 68.09547275889122,
 45.0454629962876,
 66.46784539620512,
 73.86325564095387,
 51.37064731272176,
 69.9702205781557,
 68.36543608832153,
 46.816577835822045,
 43.68712058226788,
 60.42161488743841,
 46.1548314930601,
 53.83708813831686,
 58.764600246993496,
 36.543406315915036,
 61.246100954950634,
 38.06744496188003,
 50.38884295199455,
 44.8932727953777,
 45.69211411556171,
 24.928299547570305,
 15.232784517871323,
 39.486054852746975,
 60.31170371206781,
 40.111518798725456,
 84.08090999594606,
 34.03421490712299,
 46.15598747963554,
 21.86352994915069,
 29.098557548570625,
 54.722646164584376,
 37.36406369071187,
 42.19508523541458,
 35.9052728194099,
 44.75384954077617,
 60.929023719046654,
 52.84946640434487,
 68.65979590953202,
 32.24060732976022,
 51.45359531856593,
 39.32372519620981,
 47.755276406858684,
 60.06578409345343,
 54.97717161991318,
 48.02990265092444,
 59.07788097084108,
 54.43444547283161,
 44.317654591048495,
 52.5019033425599,
 45.717962881355106,
 61.65929027797392,
 39.19951613539297,
 50.61778188115136,
 41.8958066618477,
 64.09786433114527,
 50.206352232818745,
 56.09658103901165,
 54.45856992829363,
 43.14479609002046,
 48.71464253934096,
 32.58851659019274,
 49.5350874695248,
 13.402590366489676,
 40.42767611120621,
 35.74915298899191,
 25.414960481453363,
 33.9779312746964,
 42.70628643249256,
 24.818894941876124,
 27.740577871888718,
 33.90758462174654,
 66.26782425750548,
 9.318107191111949,
 14.659199772119564,
 40.8243902091815,
 27.768262071221898,
 38.71936005791326,
 36.19596681957364,
 35.95063001160247,
 43.101433348047976,
 42.07802902568005,
 44.2303945773524,
 38.159061656630456,
 34.62586202968896,
 29.4795739011945,
 29.053339895270938,
 23.496142382557082,
 23.207948990454952,
 38.93887677997259,
 34.449184662215885,
 15.33876680794424,
 33.34423080185934,
 25.699633791454062,
 39.73230405557365,
 32.64830990023279,
 42.20960317399931,
 16.1987131014871,
 23.336131595176994,
 18.181487416794425,
 36.57374882146337,
 52.266145936912835,
 33.31570420244043,
 44.130092760284924,
 34.06172607600183,
 53.7134624609198,
 29.46161492087208,
 43.71697656312563,
 44.78230178772378,
 26.518672812870363,
 47.26164887280288,
 25.442867483649934,
 43.85523513657927,
 28.500618260305828,
 49.31404887490862,
 34.62713046536942,
 35.33931988592644,
 32.25661353867304,
 27.357017750111936,
 69.12602923486406,
 4.09872641100992,
 50.17245398859836,
 29.112564857074176,
 48.174694718786895,
 38.81890766673564,
 35.54276348661733,
 53.025612541834334,
 14.037782667781812,
 51.741215642293355,
 23.187452258749772,
 63.66811663390126,
 22.818272909843245,
 42.66217882315004,
 44.699992057047666,
 42.06060127665501,
 47.48338409899884,
 39.58749497126291,
 26.839975122810756,
 19.67657493769002,
 27.09250666878802,
 32.5383054843619,
 26.20376725762617,
 42.955626942921526,
 25.34271970532609,
 51.4717099738798,
 31.984408015768622,
 58.70313995491324,
 32.82721932141476,
 48.712059024743894,
 47.531229012893164,
 23.237605987356346,
 60.97285970033977,
 38.41565791689959,
 49.50282103974837,
 31.03650277618749,
 52.37897946814746,
 29.632281044395313,
 42.56153479512068,
 47.717972203186946,
 32.371834181419445,
 48.588506611695266,
 33.90199029757082,
 49.97366138589177,
 29.32795615654345,
 28.210050523641257,
 46.863011101859456,
 41.724583719804286,
 59.82737676527722,
 24.408949811206185,
 58.80776761743232,
 32.490396859422844,
 50.80419720947111,
 63.72241713508106,
 51.277337272184695,
 48.361028167159475,
 34.746374963738845,
 29.30344997230577,
 46.79106439311249,
 54.13442904748081,
 38.70125227746894,
 52.02791492823599,
 43.48197114942559,
 43.23895491396661,
 56.734256279684814,
 33.94076658619633,
 30.04096719072777,
 40.91989635937125,
 40.198689526992666,
 26.69481048378907,
 29.414215449446147,
 13.298303128235375,
 37.40599979489798,
 46.77657821404841,
 50.70203016744745,
 46.43374042120968,
 39.8921515083407,
 48.78953482370048,
 28.580511879436926,
 45.15828600339,
 33.9273472163668,
 22.55126721831266,
 35.73350919407426,
 28.74167768958705,
 41.014104965046045,
 37.78430088545474,
 53.6130251917034,
 15.502696388786944,
 29.13986053345684,
 25.318300487790566,
 45.26796902390606,
 38.69699944943454,
 70.10419726296072,
 44.206196895857374,
 29.73259256284473,
 38.128447082922094,
 70.60102557834966,
 38.78215489841773,
 41.67939002776188,
 70.58425811766779,
 73.73717489311275,
 52.15770607822287,
 52.07392799785316,
 54.731830535303516,
 67.76668473437826,
 70.40558831497492,
 87.84525620661157,
 75.34072450514032,
 66.35868574929054,
 79.61753753816129,
 65.86260496768773,
 70.31973830797938,
 80.54548127802718,
 66.2442464857429,
 71.88094070714715,
 58.12984410188801,
 69.36755256833203,
 49.0831705375374,
 89.4146561368334,
 40.663640385405415,
 66.39818258271771,
 55.43915989506195,
 62.96158341297587,
 56.4866964852813,
 71.05761940600064,
 92.2693160892918,
 61.10618831603438,
 79.67108706140789,
 49.736128009491495,
 66.23465582678682,
 55.86589029583547,
 57.529932157980056,
 71.73514043775276,
 72.5372002815825,
 78.6888597861041,
 74.531740665695,
 68.97909719056224,
 68.19708569493878,
 63.94896398069227,
 60.52117862359273,
 62.526861867766456,
 70.57166964778412,
 69.84244823206245,
 81.03304141321541,
 67.98998772371033,
 88.96696892680052,
 57.851453558624826,
 62.909451361176934,
 55.065129771383,
 60.46291025490791,
 74.72497217561431,
 48.24149384727207,
 84.51805180306451,
 42.18959875752307,
 62.02412179487055,
 64.60720782597309,
 74.21173024269501,
 76.55008181093694,
 71.3903318753205,
 75.04115066113559,
 62.94473153006743,
 112.10169605818533,
 58.93381181416839,
 69.9581454768279,
 81.45087923762344,
 73.35623321387243,
 92.64053197045655,
 62.17582684598915,
 79.67030294819028,
 97.7655526363053,
 94.64632966327804,
 58.608230456770116,
 54.60787953512704,
 61.217195473526544,
 49.7016806630088,
 69.24873160408538,
 58.79958201645945,
 67.79006458043455,
 30.461199327149416,
 58.04415984026559,
 48.04893932711116,
 53.48222452689356,
 57.1742256218638,
 49.84705321285787,
 48.08386016255167,
 58.99606015304994,
 66.25342653607618,
 49.652381263704456,
 54.470141505700894,
 45.15192821805499,
 68.23255863495024,
 81.73510218422871,
 58.780940287664635,
 66.07538100265174,
 46.357347739264696,
 17.46949489727399,
 30.27569367912406,
 42.41526333837828,
 55.33043741846086,
 25.843575161764647,
 58.91925042426192,
 41.72510284045984,
 80.87715083250419,
 23.4498644642174,
 45.87952425103731,
 42.27430518892538,
 58.96769857006893,
 45.03297741953793,
 30.914176335635602,
 79.98408570011998,
 38.01667131667682,
 33.81551539930069,
 63.28046855659841,
 48.687760180208215,
 56.824688356806064,
 76.01813727383046,
 73.29651855380303,
 18.2312862144679,
 44.564949065244946,
 43.16831879738993,
 79.01127040004599,
 52.742440270769976,
 55.74564533514604,
 62.09585768052921,
 49.74329709511471,
 67.35923384840066,
 35.6408993197831,
 68.51259629663014,
 60.83866518226523,
 65.26547138265369,
 44.28330043710753,
 45.69907861187244,
 184.06584930776603,
 40.99434885113328,
 66.76774570765042,
 30.668807758159346,
 44.01238521439359,
 52.47816719026332,
 62.7440395627209,
 75.9892647241611,
 68.40626158622536,
 66.24909535372285,
 70.74930402515838,
 84.80016570459588,
 73.60719017270821,
 61.343161379191315,
 76.99073334820628,
 61.86805298333047,
 68.02797257280736,
 63.38915669646781,
 76.17763852461144,
 75.37652462970527,
 55.786067694572694,
 63.469487422296424,
 40.01780096117341,
 65.24280191112439,
 49.98688429407389,
 49.0275083743536,
 46.48600322851166,
 52.235843678663514,
 50.61846855583303,
 14.623160299438496,
 38.525668209390915,
 30.322630231931726,
 42.12088441640367,
 54.391048360907234,
 60.887813354374885,
 60.34708464095161,
 35.279046932958636,
 47.49179960696324,
 52.382702871156425,
 44.72416273704516,
 48.0929672834709,
 44.131181951952385,
 40.3572505739578,
 27.464402118796897,
 61.47770748731182,
 29.873375598004486,
 35.58221309869896,
 34.09957669167352,
 50.921728303409736,
 37.42235484011053,
 44.53709887232685,
 56.708462860806776,
 42.50141577672116,
 51.369719160928526,
 38.158397027446654,
 44.6229238042888,
 37.941948158701734,
 40.09194803123569,
 35.799110300137954,
 34.22423535502776,
 50.54105162452993,
 24.12914085612624,
 46.06423432997349,
 9.52807357374013,
 38.946950940154466,
 34.86536643161571,
 38.76433183107292,
 42.386359511491264,
 45.32531913595244,
 42.65146177620704,
 27.12059518296428,
 36.051500724827974,
 27.70192408453204,
 33.43773820923798,
 39.734262207441134,
 15.242650788816263,
 23.161798465028824,
 16.35841092341593,
 34.47786876659052,
 47.029653380129275,
 50.09416054447797,
 43.28909029046076,
 39.08324563183123,
 46.05079861951367,
 55.95723709729623,
 41.901006845744405,
 43.39022290594289,
 47.44568961949972,
 62.77014987495727,
 33.51900172129558,
 38.06154338811484,
 37.001206346799336,
 46.00770491143817,
 52.167555629609296,
 28.251971790971993,
 41.81084898045174,
 38.69852032791482,
 56.24486753603628,
 48.722223884010646,
 37.006441745716984,
 40.74349340257231,
 46.69455878869326,
 46.93072755648063,
 44.871295826983896,
 50.39855100733098,
 28.715788033915715,
 43.482458458663814,
 31.291808689302798,
 29.270610968140545,
 42.76062837483164,
 21.96788023655199,
 29.781252217505198,
 27.078462913911835,
 33.984332054641754,
 30.277613104944976,
 41.34508295028718,
 23.62590180731968,
 41.48001232614638,
 43.14470079791022,
 24.123843855571067,
 35.06135168710853,
 18.563792227141903,
 43.44963944082724,
 25.968782967099287,
 32.36849239456296,
 39.79921835237269,
 28.04034097264139,
 54.4524295635822,
 34.085116248105805,
 46.31381167955965,
 34.72708993500714,
 37.88565806558972,
 36.41567655275435,
 29.39967542249451,
 54.111811404430455,
 49.81738029106441,
 25.799270287968284,
 19.379727422142423,
 45.05187683762847,
 19.31160325622568,
 16.273908137953413,
 40.6382984796503,
 29.866139970522,
 24.69419914929358,
 23.336329879208506,
 26.968626372104154,
 26.245712501653998,
 26.42872923714708,
 33.76847867192191,
 31.01296532957508,
 42.40476549145137,
 38.74432353479392,
 62.30432491603642,
 25.393725362155465,
 41.200864021575626,
 51.48624014717052,
 38.771210587726046,
 40.714380398272624,
 50.99379512639234,
 38.70713826979227,
 33.649440542787715,
 47.4547837678283,
 24.823607184589264,
 57.276084148216114,
 39.874924877946114,
 40.108479725611005,
 46.310173881166065,
 46.883297194168335,
 44.364878854303925,
 42.663278153791225,
 48.863638216783784,
 64.10667661126195,
 59.7048967941962,
 35.33667635048596,
 53.54763206052212,
 59.608099921746316,
 57.731536775055474,
 66.80463465151229,
 77.39568754136508,
 70.54222960215134,
 51.50134460919685,
 49.43927373744714,
 45.82359945166945,
 50.04569179704822,
 62.29880064830127,
 76.24359066183683,
 59.95245215420891,
 57.24530512299043,
 59.18419374008204,
 70.73945777384938,
 75.00290615475728,
 48.97206052710294,
 38.225132712338564,
 62.6202510307603,
 54.48607801813296,
 46.734045255673664,
 58.33888931036313,
 48.550284086616784,
 51.81823613210349,
 58.47782798659523,
 63.08840540834058,
 45.91468107034848,
 78.33557859845132,
 65.7723088947289,
 64.3139373607255,
 55.40295066233648,
 56.71117792711971,
 60.23930127046651,
 64.4138418774653,
 67.0393269255294,
 67.62869881740767,
 73.69182781887139,
 75.66053759200668,
 73.13410511061943,
 64.88261478778645,
 66.13571404724166,
 79.44658407650604,
 83.8514687968568,
 97.81691637515405,
 109.64587818388941,

In [71]:
#predict Count values
X_new_Count=aus_ml.drop("Count", axis=1)
new_Count=regression.predict(X_new_Count)
len(new_Count)

1734

In [72]:
new_Count

array([[80.46283577],
       [97.72356703],
       [85.11387334],
       ...,
       [76.79044779],
       [60.85069149],
       [83.1974382 ]])

In [74]:
new_Count_list=[]
for i in range(len(new_Count)):
    new_Count_list.append(int(new_Count[i][0]))
new_Count_list

[80,
 97,
 85,
 89,
 78,
 121,
 70,
 72,
 91,
 75,
 28,
 53,
 87,
 51,
 92,
 34,
 66,
 51,
 68,
 77,
 70,
 99,
 120,
 84,
 81,
 53,
 74,
 42,
 70,
 47,
 82,
 120,
 72,
 85,
 123,
 77,
 73,
 91,
 82,
 76,
 116,
 76,
 85,
 60,
 112,
 61,
 69,
 81,
 82,
 71,
 90,
 73,
 64,
 88,
 76,
 44,
 50,
 47,
 64,
 18,
 84,
 67,
 50,
 55,
 61,
 50,
 49,
 63,
 40,
 65,
 64,
 54,
 69,
 48,
 58,
 63,
 74,
 68,
 75,
 65,
 76,
 68,
 38,
 51,
 53,
 75,
 57,
 39,
 63,
 38,
 49,
 67,
 65,
 76,
 90,
 64,
 48,
 40,
 47,
 44,
 53,
 52,
 41,
 40,
 38,
 47,
 34,
 27,
 33,
 28,
 19,
 29,
 22,
 34,
 44,
 26,
 47,
 28,
 42,
 30,
 41,
 47,
 43,
 48,
 36,
 50,
 37,
 35,
 37,
 41,
 45,
 38,
 55,
 30,
 39,
 43,
 49,
 50,
 52,
 52,
 31,
 40,
 20,
 48,
 38,
 45,
 35,
 25,
 47,
 25,
 46,
 35,
 60,
 30,
 45,
 42,
 37,
 45,
 33,
 37,
 25,
 26,
 39,
 35,
 41,
 34,
 52,
 65,
 57,
 37,
 35,
 43,
 39,
 42,
 58,
 50,
 61,
 58,
 54,
 38,
 49,
 28,
 61,
 16,
 35,
 27,
 26,
 31,
 32,
 42,
 18,
 56,
 24,
 29,
 29,
 23,
 30,
 23,
 31,
 34,
 44,
 57,
 43,
 54,
 47,
 57,
 36,
 54,
 29,
 53,
 32,
 52,
 45,
 40,
 53,
 27,
 47,
 31,
 36,
 40,
 46,
 58,
 42,
 68,
 60,
 63,
 63,
 53,
 60,
 44,
 61,
 59,
 69,
 70,
 53,
 74,
 78,
 48,
 54,
 56,
 42,
 61,
 34,
 48,
 67,
 67,
 78,
 52,
 86,
 54,
 66,
 54,
 61,
 86,
 60,
 69,
 55,
 53,
 43,
 60,
 50,
 58,
 77,
 54,
 68,
 61,
 59,
 56,
 59,
 67,
 57,
 65,
 78,
 89,
 93,
 90,
 60,
 90,
 62,
 58,
 62,
 52,
 77,
 88,
 79,
 93,
 71,
 88,
 83,
 87,
 80,
 78,
 79,
 81,
 90,
 79,
 75,
 80,
 79,
 85,
 88,
 74,
 84,
 79,
 65,
 73,
 67,
 77,
 95,
 84,
 60,
 69,
 75,
 69,
 75,
 69,
 72,
 74,
 63,
 99,
 101,
 96,
 81,
 91,
 88,
 88,
 84,
 72,
 76,
 67,
 84,
 67,
 78,
 75,
 83,
 91,
 76,
 68,
 83,
 70,
 48,
 81,
 52,
 53,
 60,
 42,
 92,
 61,
 86,
 69,
 86,
 61,
 70,
 64,
 69,
 62,
 44,
 69,
 36,
 79,
 96,
 99,
 96,
 62,
 50,
 55,
 95,
 104,
 72,
 69,
 76,
 122,
 76,
 88,
 68,
 96,
 57,
 62,
 69,
 55,
 88,
 79,
 54,
 71,
 44,
 73,
 41,
 48,
 37,
 56,
 73,
 77,
 140,
 106,
 75,
 29,
 41,
 21,
 23,
 65,
 40,
 28,
 44,
 88,
 49,
 75,
 52,
 55,
 45,
 55,
 79,
 77,
 78,
 46,
 77,
 37,
 101,
 94,
 -3,
 71,
 50,
 95,
 84,
 62,
 67,
 44,
 65,
 72,
 50,
 69,
 68,
 46,
 43,
 59,
 46,
 53,
 58,
 36,
 61,
 37,
 49,
 44,
 45,
 24,
 14,
 38,
 58,
 39,
 83,
 33,
 45,
 21,
 28,
 53,
 35,
 40,
 34,
 43,
 58,
 48,
 66,
 30,
 49,
 37,
 46,
 57,
 52,
 44,
 53,
 51,
 40,
 51,
 43,
 60,
 36,
 47,
 38,
 59,
 47,
 49,
 51,
 39,
 46,
 30,
 48,
 12,
 39,
 35,
 24,
 32,
 40,
 21,
 27,
 33,
 66,
 8,
 13,
 38,
 25,
 36,
 34,
 34,
 40,
 40,
 40,
 35,
 32,
 28,
 27,
 22,
 22,
 37,
 33,
 14,
 32,
 24,
 38,
 30,
 40,
 15,
 22,
 17,
 35,
 50,
 31,
 42,
 32,
 50,
 27,
 39,
 43,
 24,
 46,
 24,
 42,
 27,
 47,
 34,
 34,
 31,
 26,
 67,
 3,
 48,
 27,
 44,
 36,
 32,
 49,
 12,
 49,
 22,
 56,
 20,
 37,
 42,
 39,
 46,
 38,
 26,
 19,
 25,
 31,
 25,
 41,
 23,
 48,
 30,
 56,
 31,
 46,
 45,
 22,
 57,
 33,
 43,
 28,
 47,
 26,
 39,
 44,
 29,
 45,
 32,
 48,
 28,
 26,
 44,
 39,
 58,
 22,
 56,
 31,
 47,
 61,
 49,
 46,
 34,
 28,
 45,
 52,
 37,
 50,
 42,
 41,
 54,
 32,
 29,
 40,
 39,
 26,
 28,
 12,
 36,
 46,
 49,
 45,
 39,
 48,
 27,
 44,
 33,
 22,
 35,
 28,
 40,
 37,
 53,
 15,
 28,
 24,
 44,
 37,
 69,
 42,
 28,
 36,
 69,
 38,
 40,
 68,
 73,
 50,
 49,
 50,
 64,
 65,
 84,
 72,
 62,
 74,
 61,
 66,
 76,
 63,
 68,
 55,
 67,
 46,
 87,
 39,
 65,
 53,
 61,
 54,
 68,
 90,
 58,
 77,
 46,
 63,
 53,
 54,
 67,
 68,
 74,
 69,
 65,
 65,
 60,
 57,
 59,
 66,
 64,
 75,
 59,
 79,
 51,
 57,
 52,
 55,
 71,
 44,
 81,
 38,
 58,
 62,
 72,
 74,
 69,
 72,
 59,
 107,
 55,
 65,
 76,
 68,
 89,
 59,
 78,
 97,
 93,
 57,
 53,
 60,
 48,
 68,
 58,
 67,
 30,
 57,
 47,
 53,
 57,
 49,
 48,
 59,
 66,
 49,
 53,
 44,
 68,
 81,
 58,
 66,
 46,
 17,
 30,
 42,
 55,
 25,
 58,
 41,
 80,
 23,
 45,
 42,
 58,
 44,
 30,
 79,
 37,
 33,
 63,
 48,
 56,
 75,
 73,
 18,
 44,
 42,
 78,
 52,
 55,
 62,
 49,
 67,
 35,
 68,
 60,
 65,
 44,
 45,
 183,
 40,
 66,
 30,
 43,
 52,
 62,
 76,
 68,
 66,
 70,
 84,
 73,
 61,
 76,
 61,
 67,
 62,
 75,
 75,
 55,
 63,
 39,
 64,
 49,
 48,
 45,
 51,
 50,
 14,
 38,
 29,
 40,
 51,
 60,
 59,
 33,
 47,
 52,
 44,
 46,
 43,
 40,
 26,
 56,
 28,
 32,
 30,
 48,
 36,
 40,
 51,
 38,
 47,
 35,
 42,
 36,
 37,
 31,
 31,
 45,
 23,
 44,
 8,
 37,
 30,
 35,
 37,
 43,
 41,
 25,
 35,
 26,
 32,
 37,
 14,
 20,
 15,
 32,
 43,
 45,
 35,
 35,
 42,
 52,
 36,
 37,
 39,
 53,
 29,
 32,
 33,
 38,
 47,
 24,
 36,
 36,
 53,
 46,
 34,
 39,
 43,
 42,
 41,
 46,
 27,
 39,
 27,
 23,
 38,
 18,
 26,
 24,
 31,
 27,
 35,
 19,
 36,
 39,
 19,
 29,
 15,
 37,
 23,
 28,
 37,
 25,
 50,
 31,
 41,
 32,
 35,
 34,
 27,
 52,
 47,
 24,
 18,
 41,
 18,
 15,
 39,
 29,
 23,
 22,
 25,
 25,
 25,
 33,
 29,
 40,
 36,
 59,
 24,
 39,
 49,
 36,
 39,
 46,
 36,
 31,
 44,
 22,
 54,
 37,
 37,
 44,
 44,
 42,
 40,
 46,
 60,
 57,
 34,
 51,
 58,
 55,
 64,
 74,
 68,
 49,
 47,
 43,
 47,
 59,
 72,
 56,
 53,
 56,
 67,
 72,
 47,
 35,
 59,
 51,
 43,
 55,
 43,
 47,
 53,
 58,
 43,
 74,
 62,
 61,
 51,
 51,
 56,
 59,
 61,
 63,
 69,
 71,
 67,
 59,
 61,
 74,
 76,
 87,
 103,
 84,
 86,
 95,
 103,
 82,
 84,
 80,
 ...]

In [88]:
#put new values into dataframe
predict_df=pd.DataFrame({'FRP': new_FRP_list,
                    'Count': new_Count_list})
predict_df

            FRP  Count
0     80.724960     80
1     98.048391     97
2     86.222247     85
3     90.385952     89
4     79.578904     78
...         ...    ...
1729  53.752734     52
1730  50.010483     48
1731  78.767420     76
1732  62.824637     60
1733  85.703989     83

[1734 rows x 2 columns]

In [89]:
#limit output data to 275 rows, which is April-December
#year 2020 has 366 days and we input data for 85 days: 366-85=281
#and drop first 6 rows becasue they belong to March dates: 281-6=275
predict_df=predict_df[6:281]
predict_df

           FRP  Count
6    71.219161     70
7    72.773046     72
8    91.782364     91
9    75.315315     75
10   28.520668     28
..         ...    ...
276  64.215162     60
277  95.260310     90
278  65.397926     62
279  61.365792     58
280  65.002125     62

[275 rows x 2 columns]

In [90]:
#add dates list (April-December 2020)
new_dates=["2020-04-01", "2020-04-02", "2020-04-03", "2020-04-04", "2020-04-05", "2020-04-06", "2020-04-07", "2020-04-08", "2020-04-09", "2020-04-10", "2020-04-11", "2020-04-12", "2020-04-13", "2020-04-14", "2020-04-15", "2020-04-16", "2020-04-17", "2020-04-18", "2020-04-19", "2020-04-20", "2020-04-21", "2020-04-22", "2020-04-23", "2020-04-24", "2020-04-25", "2020-04-26", "2020-04-27", "2020-04-28", "2020-04-29", "2020-04-30", "2020-05-01", "2020-05-02", "2020-05-03", "2020-05-04", "2020-05-05", "2020-05-06", "2020-05-07", "2020-05-08", "2020-05-09", "2020-05-10", "2020-05-11", "2020-05-12", "2020-05-13", "2020-05-14", "2020-05-15", "2020-05-16", "2020-05-17", "2020-05-18", "2020-05-19", "2020-05-20", "2020-05-21", "2020-05-22", "2020-05-23", "2020-05-24", "2020-05-25", "2020-05-26", "2020-05-27", "2020-05-28", "2020-05-29", "2020-05-30", "2020-05-31", "2020-06-01", "2020-06-02", "2020-06-03", "2020-06-04", "2020-06-05", "2020-06-06", "2020-06-07", "2020-06-08", "2020-06-09", "2020-06-10", "2020-06-11", "2020-06-12", "2020-06-13", "2020-06-14", "2020-06-15", "2020-06-16", "2020-06-17", "2020-06-18", "2020-06-19", "2020-06-20", "2020-06-21", "2020-06-22", "2020-06-23", "2020-06-24", "2020-06-25", "2020-06-26", "2020-06-27", "2020-06-28", "2020-06-29", "2020-06-30", "2020-07-01", "2020-07-02", "2020-07-03", "2020-07-04", "2020-07-05", "2020-07-06", "2020-07-07", "2020-07-08", "2020-07-09", "2020-07-10", "2020-07-11", "2020-07-12", "2020-07-13", "2020-07-14", "2020-07-15", "2020-07-16", "2020-07-17", "2020-07-18", "2020-07-19", "2020-07-20", "2020-07-21", "2020-07-22", "2020-07-23", "2020-07-24", "2020-07-25", "2020-07-26", "2020-07-27", "2020-07-28", "2020-07-29", "2020-07-30", "2020-07-31", "2020-08-01", "2020-08-02", "2020-08-03", "2020-08-04", "2020-08-05", "2020-08-06", "2020-08-07", "2020-08-08", "2020-08-09", "2020-08-10", "2020-08-11", "2020-08-12", "2020-08-13", "2020-08-14", "2020-08-15", "2020-08-16", "2020-08-17", "2020-08-18", "2020-08-19", "2020-08-20", "2020-08-21", "2020-08-22", "2020-08-23", "2020-08-24", "2020-08-25", "2020-08-26", "2020-08-27", "2020-08-28", "2020-08-29", "2020-08-30", "2020-08-31", "2020-09-01", "2020-09-02", "2020-09-03", "2020-09-04", "2020-09-05", "2020-09-06", "2020-09-07", "2020-09-08", "2020-09-09", "2020-09-10", "2020-09-11", "2020-09-12", "2020-09-13", "2020-09-14", "2020-09-15", "2020-09-16", "2020-09-17", "2020-09-18", "2020-09-19", "2020-09-20", "2020-09-21", "2020-09-22", "2020-09-23", "2020-09-24", "2020-09-25", "2020-09-26", "2020-09-27", "2020-09-28", "2020-09-29", "2020-09-30", "2020-10-01", "2020-10-02", "2020-10-03", "2020-10-04", "2020-10-05", "2020-10-06", "2020-10-07", "2020-10-08", "2020-10-09", "2020-10-10", "2020-10-11", "2020-10-12", "2020-10-13", "2020-10-14", "2020-10-15", "2020-10-16", "2020-10-17", "2020-10-18", "2020-10-19", "2020-10-20", "2020-10-21", "2020-10-22", "2020-10-23", "2020-10-24", "2020-10-25", "2020-10-26", "2020-10-27", "2020-10-28", "2020-10-29", "2020-10-30", "2020-10-31", "2020-11-01", "2020-11-02", "2020-11-03", "2020-11-04", "2020-11-05", "2020-11-06", "2020-11-07", "2020-11-08", "2020-11-09", "2020-11-10", "2020-11-11", "2020-11-12", "2020-11-13", "2020-11-14", "2020-11-15", "2020-11-16", "2020-11-17", "2020-11-18", "2020-11-19", "2020-11-20", "2020-11-21", "2020-11-22", "2020-11-23", "2020-11-24", "2020-11-25", "2020-11-26", "2020-11-27", "2020-11-28", "2020-11-29", "2020-11-30", "2020-12-01", "2020-12-02", "2020-12-03", "2020-12-04", "2020-12-05", "2020-12-06", "2020-12-07", "2020-12-08", "2020-12-09", "2020-12-10", "2020-12-11", "2020-12-12", "2020-12-13", "2020-12-14", "2020-12-15", "2020-12-16", "2020-12-17", "2020-12-18", "2020-12-19", "2020-12-20", "2020-12-21", "2020-12-22", "2020-12-23", "2020-12-24", "2020-12-25", "2020-12-26", "2020-12-27", "2020-12-28", "2020-12-29", "2020-12-30", "2020-12-31"]
predict_df['Dates']=new_dates
predict_df

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

           FRP  Count       Dates
6    71.219161     70  2020-04-01
7    72.773046     72  2020-04-02
8    91.782364     91  2020-04-03
9    75.315315     75  2020-04-04
10   28.520668     28  2020-04-05
..         ...    ...         ...
276  64.215162     60  2020-12-27
277  95.260310     90  2020-12-28
278  65.397926     62  2020-12-29
279  61.365792     58  2020-12-30
280  65.002125     62  2020-12-31

[275 rows x 3 columns]